/*
 *-------------------------------------  
 * PLASMID IDENT    MAIN CONFIGURATION
 *-------------------------------------
 * Default config for all environments
 */


manifest {
    mainScript = 'main.nf'
    author = 'Caspar Groß'
    homePage = 'https://github.com/caspargross/plasmidIdentification'
    description = 'Hybrid assembly pipeline for plasmid analysis'
    name = 'plasmIdent'
    nextflowVersion = '>=0.32.0'
    version = '0.7'
}

profiles 
    {   
    // Default profile, uses Docker to run 
    // Assumes required conda envs are available on machine
    standard {
        includeConfig 'conf/base.config'
        includeConfig 'conf/docker.config'
    }   

    // Execution on local machine 
    local {
        includeConfig 'conf/base.config'
    }

    // Execution inside pathoLogic web App
    app {
        includeConfig 'conf/app.config'
    }

    // Run test  with reduced test dataset and laptop specs
    test {
        includeConfig 'conf/test.config'
        includeConfig 'conf/docker.config'
    }   

    // Run local test with reduced test dataset and laptop specs (no Docker)
    localtest {
        includeConfig 'conf/test.config'
    }   

    // Runs pipeline using Singularity instead of docker
    singularity {
        includeConfig 'conf/base.config'
        includeConfig 'conf/singularity.config'

    }   

    // Runs pipeline using Singularity instead of docker
    binac {
        includeConfig 'conf/binac.config'
    }   
}


