manifest {
    mainScript = 'main.nf'
}

params {
    cpu = 2
    mem = 2 
    pathfile = 'file_locations.csv'
    outFolder = 'out'
    minLength = 1000
    maxLength = 200000
}

profiles {
    standard {
        executor {
            name = 'local'
            queueSize = 4 
        }   

        env{
            SPADES = '/mnt/share/opt/SPAdes-3.11.1-Linux/bin/spades.py'
            SSPACE = '/mnt/users/ahgrosc1/tools/SSPACE-LongRead_v1-1/SSPACE-LongRead.pl'
            GAPFILLER = '/mnt/share/opt/GapFiller_v1-10_linux-x86_64/GapFiller.pl'
            LINKS = '/mnt/users/ahgrosc1/tools/links_v1.8.5/LINKS.pl'
            CANU = '/mnt/users/ahgrosc1/tools/canu-1.6/Linux-amd64/bin/canu'
            MUMMER = '/mnt/users/ahgrosc1/tools/mummer/bin'
            PORECHOP = '/mnt/users/ahgrosc1/tools/Porechop/porechop-runner.py'
            FILTLONG = '/mnt/users/ahgrosc1/tools/Filtlong/bin/filtlong'
            BOWTIE2 = '/mnt/share/opt/bowtie2-2.2.4/bowtie2'
            BOWTIE2_BUILD = '/mnt/share/opt/bowtie2-2.2.4/bowtie2-build'
            PILON = '/mnt/users/ahgrosc1/tools/pilon-1.22.jar'
            PAUVRE = 'pauvre'
            FASTQC = '/mnt/users/ahgrosc1/tools/FastQC/fastqc'
            MULTIQC = 'source activate multiqc && multiqc'
            QUAST = 'source activate quast && quast'
            RACON = '/mnt/users/ahgrosc1/tools/racon/bin/racon'
            SAMTOOLS = '/mnt/share/opt/samtools-1.5/samtools'
            MINIASM = '/mnt/users/ahgrosc1/tools/miniasm/miniasm'
            MINIMAP2 = '/mnt/users/ahgrosc1/tools/minimap2-2.7_x64-linux/minimap2'
            FLYE = '/mnt/users/ahgrosc1/tools/Flye/bin/flye'
            NANOPLOT = 'source activate nanoplot && NanoPlot'
            
            PROGRESSIVEMAUVE = 'source activate mauve && progressiveMauve'
            RGI = 'source activate rgi && rgi'
            BWA = 'bwa'

        }
    }
}


