/*
 *-------------------------------------  
 * PLASMID IDENT    MAIN CONFIGURATION
 *-------------------------------------
 * Default config for all environments
 */


manifest {
    mainScript = 'main.nf'
    author = 'Caspar Groß'
    homePage = 'https://github.com/caspargross/plasmidIdentification'
    description = 'Hybrid assembly pipeline for plasmid analysis'
    name = 'plasmIdent'
    nextflowVersion = '>=0.32.0'
    version = '0.7'
}

profiles 
    {   
    // Default profile, uses Docker to run 
    // Using 20 cores, up to 128gb of RAM 
    // Assumes required conda envs are available on machine
    standard {
        includeConfig 'conf/base.config'
    //    includeConfig 'conf/docker.config'
    }   

    // Execution on local machine 
    local {
        includeConfig 'conf/base.config'
    }   
    // Run test  with reduced test dataset and laptop specs
    test {
        includeConfig 'conf/base.config'
        includeConfig 'conf/test.config'
    }   
}


