/*
 *---------------------------------
 * PLASMID IDENT BASE CONFIGURATION
 *---------------------------------
 * Default config for all environments
 */


params {
    help = false
    version = false
    outDir = false 
    input = false
    help = false

    max_memory = 6.GB
    max_cpus = 4
}

// Safe bash settings   
process.shell = ['/bin/bash', '-e']

singularity {
    enabled = true
}

executor {
    container = 'docker://caspargross/hybridassembly'
}
