/*
 *---------------------------------
 * PLASMID IDENT BASE CONFIGURATION
 *---------------------------------
 * Default config for all environments
 */


params {
    
    outDir = 'plasmIdent'
    
    maxLength = 500000 // Maximum contig length for putative plasmid
    seqPadding = 2000  // Alignment overlap length at contig edges
    covWindow = 50  // Window size for coverage calculation
    cpu = 4
}

// Safe bash settings
process.shell = ['/bin/bash', '-e']

/*
report {
// Create html report 
    enabled = true
    file = "${params.outDir}/nf_reports/PlasmIdent_Report.html"
}

timeline {
// Turn on timeline tracking
    enabled = true
    file = "${params.outDir}/nf_reports/PlasmIdent_timeline.html"
}

dag {
// Draw graph structure of pipeline
    enabled = true
    file = "${params.outDir}/nf_reports/PlasmOdent_Flowchart.svg"
}

trace {
// Turn on trace tracking 
    enabled = true
    file = "${params.outDir}/nf_reports/PlasmIdent_Trace.txt"
}

*/
