/*
 *---------------------------------
 * PLASMID IDENT BASE CONFIGURATION
 *---------------------------------
 * Default config for all environments
 */


params {
    help = false
    version = false
    input = false                   // Required: input file
    outDir = '${PWD}/plasmIDent'    // Path to output directory

    maxLength = 500000              // Maximum contig length for putative plasmid
    minLength = 5000                // Minimal length
    mappingCov = 50                 // Filter read file to reach this target coverage
    seqPadding = 1000               // Alignment overlap length at contig edges
    covWindow = 50                  // Window size for coverage calculation
    noSubsampling = false           // Default: Use subsampling
}

// Safe bash settings
process.shell = ['/bin/bash', '-e']

report {
// Create html report 
    enabled = true
    file = "${params.outDir}/nf_reports/PlasmIdent_Report.html"
}
